.partner {
  background-color: #fafafa;
  padding-bottom: 85px;
}
.partner-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 50px;
}

.form-partner {
  padding: 30px 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #16697a;
}

.partner-form h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  max-width: 258px;
  margin-right: 240px;
}
.od-2 {
  width: 440px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffa62b;
}
.od-2 input {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  letter-spacing: 0.2px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 28px;
  font-weight: 400;
  width: 330px;
  height: 58px;
  border-right: none;
  outline: none;
  color: #737373;
  background: #f9f9f9;
  border: 5px solid #f9f9f9;
}
.inside span {
  letter-spacing: 0.2px;
  padding: 15px 22.5px;
  font-size: 1.4rem;
  line-height: 28px;
  font-weight: 400;
  height: 58px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 416px) {
  .cntnr {
    max-width: 410px;
    margin: 0px auto;
  }
  .partner-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .partner-logos img {
    width: 30%;
    margin: 0px auto;
    margin-bottom: 60px;
  }
  .form-partner h3 {
    width: 258px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .form-partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .od-2 {
    width: 300px;
  }
}
